<html>
<head>
    <title>清单表格.png</title>
    <style>
        p {
            line-height: 10px
        }
        .divcss5-a p {
            margin: 0 auto;
        }
    </style>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
</head>
<hr>
<body>
<p style="text-align: center; font-size: 18px; ">********** 美团点评点餐 **********</p>
<p style="font-size: 18px; text-align: center">请与客户核对后下单</p>
<hr style="border:none;border-top:1.5px dashed; margin-left: 30px; "/>
<div style="margin-left: 30px; font-size: 18px">
    <p style="font-size: 24px;"><label style="margin-right: 80px">桌号：A006</label><label>人数：11</label></p>
    <p style="font-size: 18px;><label">支付详情：未支付！</label></p>
    <p style="font-size: 18px;><label">订单状态：下单成功！</label></p>
    <p style="font-size: 12px;"><label>订单详情：部分菜品鱼香肉丝1份沽清！</label></p>
    <p style="font-size: 12px;"><label style="margin-right: 80px">点餐号：test0100</label><label>订单编号：0401234205</label></p>
    <p style="font-size: 12px;"><label>下单时间：2017-5-4 18:20:12</label></p>
    <p style="font-size: 12px; width: 600px;"><label>****************************************************************************************************</label></p>
    <p style="font-size: 12px;"><label style="padding-right: 260px">名称</label><label style="padding-left: 150px">数量</label><label style="padding-left: 118px">价格</label></p>
    <hr style="height:1px;border:none;border-top:1.5px dashed;"/>
    <table width="600px" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td style="text-align: left; width: 300px;"> 绝味鸭脖绝味鸭脖绝味鸭脖绝味鸭脖绝味鸭脖绝味鸭脖绝味鸭脖</td>
            <td style="text-align: right; width: 150px;"> 1</td>
            <td style="text-align: right; width: 150px;"> 28.99</td>
        </tr>
        <tr>
            <td align="left">鱼香肉丝</td>
            <td align="right">1</td>
            <td align="right">37</td>
        </tr>
    </table>
    <hr style="height:1px;border:none;border-top:1.5px dashed;"/>
    <table width="600px" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td style="text-align: left; width: 300px;">红茶玛奇朵</td>
            <td style="text-align: right; width: 150px;">1</td>
            <td style="text-align: right; width: 150px;">14</td>
        </tr>
    </table>
    <hr style="height:1px;border:none;border-top:1.5px dashed;"/>
    <p><label>(4到菜，总计4份)</label></p>
    <table width="600px" border="0" cellpadding="0" cellspacing="0" style="font-size: 24px">
        <tr>
            <td style="text-align: left; width: 100px;">总价：</td>
            <td style="text-align: right; width: 500px">¥79.999999999999</td>
        </tr>
    </table>
    <hr style="height:1px;border:none;border-top:1.5px dashed;"/>
    <p style="text-align: center; font-size: 16px;">夏宫</p>
</div>
</body>
</html>