<html>
<head>
    <title>清单表格.png</title>
    <style>
        p {
            line-height: 10px
        }

        .divcss5-a p {
            margin: 0 auto;
        }
    </style>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
</head>
<body>
<p style="text-align: center; font-size: 18px; ">********** 美团点评点餐 **********</p>
<p style="font-size: 18px; text-align: center">请与客户核对后下单</p>
<hr style="border:none;border-top:1.5px dashed; margin-left: 30px; "/>
<div style="margin-left: 30px; font-size: 18px">
    <p style="font-size: 24px;"><label style="margin-right: 80px">桌号：A006</label><label>人数：11</label></p>
    <p style="font-size: 18px;><label">支付详情：未支付！</label></p>
    <p style="font-size: 18px;><label">订单状态：下单成功！</label></p>
    <p style="font-size: 12px;"><label>订单详情：部分菜品鱼香肉丝1份沽清！</label></p>
</div>
</body>
</html>